.form-row {
display: flex;
flex-direction: column;
gap: 0.1rem;
margin: rem

}

.card {
    padding: 1.5rem;
    
    
}

.yr {
    font-size:medium;
    font-weight: 700;
}
textarea
{
  width:100%;
}
input
{
  width:100%;
}
.valign {
    vertical-align: top;
    padding-right: 1em;
}
.reviews {
    padding-bottom: 25px;
    text-align:left;
   
}
.user-name {
    padding-bottom: 25px;
    font-weight: 600;
}

h2 {
    padding: 10px;
}


.r2 {
    padding: 50px;
}
