.form-row {
display: flex;
flex-direction: column;
gap: 0.1rem;

}

.review {
    font-size: 50%;
}
.movie {
    width: 80%;
    margin: auto;        

}

.user-name {
    padding-bottom: 25px;
}

h2 {
    padding: 10px;
}

ul {
    list-style-type: none;
    display: inline-block;
}

#container {
    text-align: center;
    padding: 8px;
  }
  
ul.li {
    display: inline-block;
 
}