.form-row {
display: flex;
flex-direction: column;
gap: 0.1rem;
margin: rem

}

.card {
    padding: 1.5rem;
    
    
}

.yr {
    font-size:medium;
    font-weight: 700;
}

.reviews {
    padding-bottom: 25px;
}
.user-name {
    padding-bottom: 25px;
}

h2 {
    padding: 10px;
}

